/**/
p {
    margin: 0;
}
/*
 * Menu
 */
header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/**/
header p {
    margin-left: 5px;
    width: 25px;
    border: 1px solid black;
    text-align: center;
}
/*
 * Grille
 */
#grid {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: maroon;
}
/**/
#message {
    display: none;
    padding-top: 30%;
    height: 70%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 500%;
    background-color: black;
    opacity: 0;
}
/**/